
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    scroll-behavior: smooth;
}
#wrapper
{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: blue; */
}
.containor
{
    width: 1200px;
    margin:0 auto;
    /* background-color: black; */
    /* color: aliceblue; */
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    
  
    
}


.logo-containor
{
    display: flex;
    align-items: center;
    justify-content: baseline;
    

}
.logo{
   
    width:80px
}

.logo-text
{
    margin-left:-1.2rem;
    font-size: 28px;
}
.nav-item{
    

    display: flex;
    align-items:start;
    gap: 2rem;
    padding: 0 4rem;

}
.nav-item div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;  

}
.nav-item div:hover{
    font-weight: bold;
    transition:0.8s;
}
.nav-item div a{
    text-decoration: none;
    color: black;
}
.hero-section
{
    display: flex;
    position: relative;
justify-content: center;
align-items: center;
gap: 5rem;
margin: 4rem auto;
padding: 0 1rem;
padding-bottom:8;

}
.faded-section
{
    user-select: none;
    font-size: 7rem;
    color: rgb(231,231,231);
    bottom:-16%;
    font-weight:bold;
    transition:all 3s;
}

.hero-section-left
{
    display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   justify-items: center;
  
  

}
.hero-section-heading
{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.role
{
    color: rgb(52, 52, 245);
    font-weight: 800;

}
.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight:  500;
}


.button-pink
{
    background-color: rgb(240, 89, 35);
    height:30px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 5px black;
    position: relative;
    z-index: +1;
}
.button-pink::before{
    content:"";
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform:scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: 1s;
}
.button-pink:hover::before
{
    transform:scaleX(1);
    
}